<footer id="footer" class="bg-white">

    <div class="container padding-medium pb-5">
        <div class="row flex-wrap justify-content-between">
            <div class="col-lg-3 col-md-6 pb-3">
                <div class="footer-menu">
                    <img src="images/dark-logo.png" alt="logo">
                    <p>deleniti libero placeat qui pariatur nihil. ab officia odit
                        iusto ullam.</p>
                    <ul class="social-links d-flex flex-wrap list-unstyled">
                        <li class="social me-3">
                            <a href="#">
                                <svg class=" me-1" width="24" height="24">
                                    <use xlink:href="icons/default-icons.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social me-3">
                            <a href="#">
                                <svg class=" me-1" width="24" height="24">
                                    <use xlink:href="icons/default-icons.svg#twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social me-3">
                            <a href="#">
                                <svg class=" me-1" width="24" height="24">
                                    <use xlink:href="icons/default-icons.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social me-3">
                            <a href="#">
                                <svg class=" me-1" width="24" height="24">
                                    <use xlink:href="icons/default-icons.svg#instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social me-3">
                            <a href="#">
                                <svg class=" me-1" width="24" height="24">
                                    <use xlink:href="icons/default-icons.svg#youtube"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="offset-lg-1 col-lg-2 col-md-6 pb-3">
                <div class="footer-menu">
                    <h6 class="widget-title pb-2 fw-semibold">quick links</h6>
                    <ul class="menu-list d-flex flex-column list-unstyled">
                        <li class="pb-2">
                            <a href="about.html">about us</a>
                        </li>
                        <li class="pb-2">
                            <a href="team.html">our team</a>
                        </li>
                        <li class="pb-2">
                            <a href="services.html">our services</a>
                        </li>
                        <li class="pb-2">
                            <a href="about.html">why choose us</a>
                        </li>
                        <li class="pb-2">
                            <a href="contact.html">contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 pb-3">
                <div class="footer-menu">
                    <h6 class="widget-title pb-2 fw-semibold">help</h6>
                    <ul class="menu-list d-flex flex-column list-unstyled">
                        <li class="pb-2">
                            <a href="faq.html">faqs</a>
                        </li>
                        <li class="pb-2">
                            <a href="contact.html">get in touch</a>
                        </li>
                        <li class="pb-2">
                            <a href="about.html">info</a>
                        </li>
                        <li class="pb-2">
                            <a href="#">privacy policy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pb-3">
                <div class="footer-menu">
                    <h6 class="widget-title pb-2 fw-semibold">local office</h6>
                    <ul class="menu-list d-flex flex-column list-unstyled">
                        <li class="text-capitalize d-flex align-items-center pb-2">
                            <svg class="text-yellow-500 me-1" width="18" height="18">
                                <use xlink:href="icons/default-icons.svg#location"></use>
                            </svg><a href="#"> phoenix, arizona </a>
                        </li>
                        <li class="text-capitalize d-flex align-items-center pb-2">
                            <svg class="text-yellow-500 me-1" width="18" height="18">
                                <use xlink:href="icons/default-icons.svg#email"></use>
                            </svg><a href="#"> youremail&#64;gmail.com </a>
                        </li>
                        <li class="text-capitalize d-flex align-items-center pb-2">
                            <svg class="text-yellow-500 me-1" width="18" height="18">
                                <use xlink:href="icons/default-icons.svg#phone"></use>
                            </svg><a href="#"> 888 333 9999 </a>
                        </li>
                        <li class="text-capitalize d-flex align-items-center pb-2">
                            <svg class="text-yellow-500 me-1" width="18" height="18">
                                <use xlink:href="icons/default-icons.svg#clock"></use>
                            </svg><a href="#"> 8:00-18:00, sat: closed </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top">
        <div class="container d-md-flex text-center justify-content-center py-4">
            <p class="mb-0">© 2024 {{companyName}}</p>
        </div>
    </div>

</footer>