<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>


<!-- Video Popup -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><svg class="bi" width="40"
            height="40">
            <use xlink:href="#close-sharp"></use>
          </svg></button>
        <div class="ratio ratio-16x9">
          <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
        </div>
      </div>

    </div>

  </div>
</div> -->
