<div class="main-body container-xxl bg-white position-relative rounded-4 p-0 pb-4 mb-lg-5">

  <section id="slider" class="pt-5 px-3">
    <div class="swiper slider position-relative rounded-3">
      <div class="swiper-wrapper">
        <div class="swiper-slide d-flex"
          style="background-image: url(images/slider-image.jpg); background-size: cover; background-repeat: no-repeat; height: 80vh; background-position: center;">
          <div class="container m-auto ">
            <div class="text-start col-xl-6">
              <h6 class="banner-topic text-white"> <span class="text-yellow-500">| </span> fast, effective & affordable
              </h6>
              <h2 class="banner-title display-2 fw-bolder fst-italic text-white">expert <span
                  class="text-yellow-500">plumbing
                  services</span> in dallas.</h2>
              <a routerLink="/services" class="btn btn-light mt-4">our services</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="cities" class="padding-medium">
    <div class="container">
      <h3 class="display-6 fw-bold text-center mb-5">we serve these cities</h3>
      <div class="row">
        <div class="col-6 col-lg-3">
          <div class="mb-4">
            <p class="text-dark m-0 text-capitalize d-flex align-items-center">
              <svg class="text-white bg-yellow-500 rounded-circle p-1 me-2" width="25" height="25">
                <use xlink:href="icons/default-icons.svg#tick"></use>
              </svg>new york city
            </p>
          </div>
          <div class="mb-4">
            <p class="text-dark m-0 text-capitalize d-flex align-items-center">
              <svg class="text-white bg-yellow-500 rounded-circle p-1 me-2" width="25" height="25">
                <use xlink:href="icons/default-icons.svg#tick"></use>
              </svg>miami
            </p>
          </div>
          <div class="mb-4">
            <p class="text-dark m-0 text-capitalize d-flex align-items-center">
              <svg class="text-white bg-yellow-500 rounded-circle p-1 me-2" width="25" height="25">
                <use xlink:href="icons/default-icons.svg#tick"></use>
              </svg>seattle
            </p>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="mb-4">
            <p class="text-dark m-0 text-capitalize d-flex align-items-center">
              <svg class="text-white bg-yellow-500 rounded-circle p-1 me-2" width="25" height="25">
                <use xlink:href="icons/default-icons.svg#tick"></use>
              </svg>los angeles
            </p>
          </div>
          <div class="mb-4">
            <p class="text-dark m-0 text-capitalize d-flex align-items-center">
              <svg class="text-white bg-yellow-500 rounded-circle p-1 me-2" width="25" height="25">
                <use xlink:href="icons/default-icons.svg#tick"></use>
              </svg>san francisco
            </p>
          </div>
          <div class="mb-4">
            <p class="text-dark m-0 text-capitalize d-flex align-items-center">
              <svg class="text-white bg-yellow-500 rounded-circle p-1 me-2" width="25" height="25">
                <use xlink:href="icons/default-icons.svg#tick"></use>
              </svg>las vegas
            </p>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="mb-4">
            <p class="text-dark m-0 text-capitalize d-flex align-items-center">
              <svg class="text-white bg-yellow-500 rounded-circle p-1 me-2" width="25" height="25">
                <use xlink:href="icons/default-icons.svg#tick"></use>
              </svg>chicago
            </p>
          </div>
          <div class="mb-4">
            <p class="text-dark m-0 text-capitalize d-flex align-items-center">
              <svg class="text-white bg-yellow-500 rounded-circle p-1 me-2" width="25" height="25">
                <use xlink:href="icons/default-icons.svg#tick"></use>
              </svg>washington
            </p>
          </div>
          <div class="mb-4">
            <p class="text-dark m-0 text-capitalize d-flex align-items-center">
              <svg class="text-white bg-yellow-500 rounded-circle p-1 me-2" width="25" height="25">
                <use xlink:href="icons/default-icons.svg#tick"></use>
              </svg>new orleans
            </p>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="mb-4">
            <p class="text-dark m-0 text-capitalize d-flex align-items-center">
              <svg class="text-white bg-yellow-500 rounded-circle p-1 me-2" width="25" height="25">
                <use xlink:href="icons/default-icons.svg#tick"></use>
              </svg>houston
            </p>
          </div>
          <div class="mb-4">
            <p class="text-dark m-0 text-capitalize d-flex align-items-center">
              <svg class="text-white bg-yellow-500 rounded-circle p-1 me-2" width="25" height="25">
                <use xlink:href="icons/default-icons.svg#tick"></use>
              </svg>boston
            </p>
          </div>
          <div class="mb-4">
            <p class="text-dark m-0 text-capitalize d-flex align-items-center">
              <svg class="text-white bg-yellow-500 rounded-circle p-1 me-2" width="25" height="25">
                <use xlink:href="icons/default-icons.svg#tick"></use>
              </svg>philadelphia
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="padding-medium">
    <div class="container">
      <h3 class="display-6 fw-bold text-center mb-5">our plumbing services</h3>
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-4">
          <div class="service-post text-center p-5 bg-gray rounded-3">
            <a href="services-single.html">
              <svg class="text-yellow-500 mb-3" width="50" height="50">
                <use xlink:href="icons/default-icons.svg#plumber"></use>
              </svg>
              <h6 class="mb-0"> leak detection and repair</h6>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
          <div class="service-post text-center p-5 bg-gray rounded-3">
            <a href="services-single.html">
              <svg class="text-yellow-500 mb-3" width="50" height="50">
                <use xlink:href="icons/default-icons.svg#plumbing"></use>
              </svg>
              <h6 class="mb-0"> preventive maintenance</h6>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
          <div class="service-post text-center p-5 bg-gray rounded-3">
            <a href="services-single.html">
              <svg class="text-yellow-500 mb-3" width="50" height="50">
                <use xlink:href="icons/default-icons.svg#water-heater"></use>
              </svg>
              <h6 class="mb-0"> water heater services</h6>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
          <div class="service-post text-center p-5 bg-gray rounded-3">
            <a href="services-single.html">
              <svg class="text-yellow-500 mb-3" width="50" height="50">
                <use xlink:href="icons/default-icons.svg#gas"></use>
              </svg>
              <h6 class="mb-0"> gas line repair services</h6>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
          <div class="service-post text-center p-5 bg-gray rounded-3">
            <a href="services-single.html">
              <svg class="text-yellow-500 mb-3" width="50" height="50">
                <use xlink:href="icons/default-icons.svg#toilet"></use>
              </svg>
              <h6 class="mb-0"> toilet and flush repair</h6>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
          <div class="service-post text-center p-5 bg-gray rounded-3">
            <a href="services-single.html">
              <svg class="text-yellow-500 mb-3" width="50" height="50">
                <use xlink:href="icons/default-icons.svg#water"></use>
              </svg>
              <h6 class="mb-0"> water quality and filtration</h6>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
          <div class="service-post text-center p-5 bg-gray rounded-3">
            <a href="services-single.html">
              <svg class="text-yellow-500 mb-3" width="50" height="50">
                <use xlink:href="icons/default-icons.svg#install-option"></use>
              </svg>
              <h6 class="mb-0"> fixture and faucets installation</h6>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
          <div class="service-post text-center p-5 bg-gray rounded-3">
            <a href="services-single.html">
              <svg class="text-yellow-500 mb-3" width="50" height="50">
                <use xlink:href="icons/default-icons.svg#tee-pipe"></use>
              </svg>
              <h6 class="mb-0"> leak detection and repair</h6>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="work" class="padding-medium">
    <div class="container">
      <h3 class="display-6 fw-bold text-center mb-5">our latest works</h3>
      <div class="row">
        <div class="col-md-3 mb-4">
          <div class="project-content position-relative bg-black">
            <img class="project-img img-fluid" src="images/project1.jpg" alt="img">
            <div class="project-description p-5 p-md-4 position-absolute bottom-0 start-0">
              <h4 class="text-white">leak detection and repair</h4>
              <a href="project-single.html" class="text-white text-decoration-underline">browse more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="project-content position-relative bg-black">
            <img class="project-img img-fluid" src="images/project2.jpg" alt="img">
            <div class="project-description p-5 p-md-4 position-absolute bottom-0 start-0">
              <h4 class="text-white">leak detection and repair</h4>
              <a href="project-single.html" class="text-white text-decoration-underline">browse more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="project-content position-relative bg-black">
            <img class="project-img img-fluid" src="images/project3.jpg" alt="img">
            <div class="project-description p-5 p-md-4 position-absolute bottom-0 start-0">
              <h4 class="text-white">leak detection and repair</h4>
              <a href="project-single.html" class="text-white text-decoration-underline">browse more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="project-content position-relative bg-black">
            <img class="project-img img-fluid" src="images/project4.jpg" alt="img">
            <div class="project-description p-5 p-md-4 position-absolute bottom-0 start-0">
              <h4 class="text-white">leak detection and repair</h4>
              <a href="project-single.html" class="text-white text-decoration-underline">browse more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="project-content position-relative bg-black">
            <img class="project-img img-fluid" src="images/project5.jpg" alt="img">
            <div class="project-description p-5 p-md-4 position-absolute bottom-0 start-0">
              <h4 class="text-white">leak detection and repair</h4>
              <a href="project-single.html" class="text-white text-decoration-underline">browse more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="project-content position-relative bg-black">
            <img class="project-img img-fluid" src="images/project6.jpg" alt="img">
            <div class="project-description p-5 p-md-4 position-absolute bottom-0 start-0">
              <h4 class="text-white">leak detection and repair</h4>
              <a href="project-single.html" class="text-white text-decoration-underline">browse more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="project-content position-relative bg-black">
            <img class="project-img img-fluid" src="images/project7.jpg" alt="img">
            <div class="project-description p-5 p-md-4 position-absolute bottom-0 start-0">
              <h4 class="text-white">leak detection and repair</h4>
              <a href="project-single.html" class="text-white text-decoration-underline">browse more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="project-content position-relative bg-black">
            <img class="project-img img-fluid" src="images/project8.jpg" alt="img">
            <div class="project-description p-5 p-md-4 position-absolute bottom-0 start-0">
              <h4 class="text-white">leak detection and repair</h4>
              <a href="project-single.html" class="text-white text-decoration-underline">browse more</a>
            </div>
          </div>
        </div>

      </div>
      <div class="text-center">
        <a class="btn btn-primary mt-4" href="project.html">view all works</a>
      </div>
    </div>
  </section>

  <section id="faqs">
    <div class="container">
      <h3 class="display-6 fw-bold text-center mb-5">frequently asked questions</h3>
      <div class="row">
        <div class="col-md-8 offset-md-2 accordion" id="accordion-box">
          <div class="accordion-item ">
            <div class="accordion-header" id="heading-one">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-one"
                aria-expanded="true" aria-controls="collapse-one">
                <h6 class="accordion-title">do i need a professional for clogged drains?</h6>
              </button>
            </div>
            <div id="collapse-one" class="accordion-collapse collapse show" aria-labelledby="heading-one">
              <div class="accordion-body pt-0">
                <div class="faqs-box">
                  <div class="element-box margin-xsmall d-flex align-items-center">
                    <div class="item-title">while diy methods like plunging or using chemical cleaners can work for
                      minor clogs, persistent or severe blockages are best handled by professionals with specialized
                      tools to avoid causing further damage.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item mt-3 ">
            <div class="accordion-header" id="heading-two">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                <h6 class="accordion-title">how often should i maintain my water heater?</h6>
              </button>
            </div>
            <div id="collapse-two" class="accordion-collapse collapse" aria-labelledby="heading-two">
              <div class="accordion-body pt-0">
                <div class="faqs-box">
                  <div class="element-box margin-xsmall d-flex align-items-center">
                    <div class="item-title">quisque volutpat mattis eros. nullam malesuada erat ut turpis.
                      suspendisse urna viverra non, semper suscipit, posuere a, pede. donec nec justo eget felis
                      facilisis fermentum. aliquam porttitor mauris sit amet orci. aenean dignissim pellentesque
                      felis. phasellus ultrices nulla quis nibh. quisque a lectus. donec consectetuer ligula
                      vulputate sem tristique cursus. </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item mt-3 ">
            <div class="accordion-header" id="heading-three">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-three" aria-expanded="false" aria-controls="collapse-three">
                <h6 class="accordion-title">are plumbers licensed and insured?</h6>
              </button>
            </div>
            <div id="collapse-three" class="accordion-collapse collapse" aria-labelledby="heading-three">
              <div class="accordion-body pt-0">
                <div class="faqs-box">
                  <div class="element-box margin-xsmall d-flex align-items-center">
                    <div class="item-title">quisque volutpat mattis eros. nullam malesuada erat ut turpis.
                      suspendisse urna viverra non, semper suscipit, posuere a, pede. donec nec justo eget felis
                      facilisis fermentum. aliquam porttitor mauris sit amet orci. aenean dignissim pellentesque
                      felis. phasellus ultrices nulla quis nibh. quisque a lectus. donec consectetuer ligula
                      vulputate sem tristique cursus. </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section id="blogs" class="padding-medium">
    <div class="container">
      <h3 class="display-6 fw-bold text-center mb-5">stay up to date</h3>
      <div class="row mt-4">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
          <div class="card-item">
            <div class="card border-0 bg-transparent">
              <div class="card-image">
                <a href="blog-single.html">
                  <img src="images/blog1.jpg" alt="post-img" class="post-image img-fluid">
                </a>
              </div>
            </div>
            <div class="card-body p-0 mt-2">
              <h6 class="mt-3">
                <a href="blog-single.html">common plumbing issues and how to prevent them</a>
              </h6>
              <p>elit adipi massa diam in dignissim. sagittis pulvinar ut dis venenatis nunc nunc vitae aliquam
                vestibu adipi massa diamlum... <a href="blog-single.html" class="text-decoration-underline"><em>read
                    more</em></a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
          <div class="card-item">
            <div class="card border-0 bg-transparent">
              <div class="card-image">
                <a href="blog-single.html">
                  <img src="images/blog2.jpg" alt="post-img" class="post-image img-fluid">
                </a>
              </div>
            </div>
            <div class="card-body p-0 mt-2">
              <h6 class="mt-3">
                <a href="blog-single.html">the importance of regular plumbing maintenance</a>
              </h6>
              <p>sagittis pulvinar ut dis venenatis nunc nunc vitae aliquam vestibulum. elit adipi massa diam in
                dignissim... <a href="blog-single.html" class="text-decoration-underline"><em>read more</em></a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
          <div class="card-item">
            <div class="card border-0 bg-transparent">
              <div class="card-image">
                <a href="blog-single.html">
                  <img src="images/blog3.jpg" alt="post-img" class="post-image img-fluid">
                </a>
              </div>
            </div>
            <div class="card-body p-0 mt-2">
              <h6 class="mt-3">
                <a href="blog-single.html">choosing the right fixtures for your bathroom remodel</a>
              </h6>
              <p>pulvinar sagittis ut dis venenatis nunc nunc vitae aliquam vestibulum. elit adipi massa diam in
                dignissim... <a href="blog-single.html" class="text-decoration-underline"><em>read more</em></a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a class="btn btn-primary mt-4" href="blog.html">read articles</a>
      </div>
    </div>
  </section>

</div>